<div class="container">
  <div class="row no-gutters">
    <div *ngIf="milibro" class="row inline-block ficha">
      <div class="col-md-4">
        <img class="portada" *ngIf="milibro" src="{{milibro.img}}" alt="">
      </div>
      <div class="col-md-8">
        <br>
        <app-qr *ngIf="milibro" [value]="milibro.$key"></app-qr>
        <hr>
        <h1 *ngIf="milibro">{{milibro.nombre}}</h1>
        <p *ngIf="milibro">{{milibro.sinopsis}}</p>
        <hr>
        <div *ngIf="auth.userData | async">
          <div class="form-check form-check-inline" *ngIf="milibro.electronico">
            <input [formControl]="tipoPrestamo" (focus)="speech('Prestamo electronico')" class="form-check-input" type="radio" name="inlineRadioOptions"
              value="electronico">
            <label class="form-check-label" for="electronico">Electronico</label>
          </div>
          <div class="form-check form-check-inline" *ngIf="milibro.fisico > 0">
            <input class="form-check-input" (focus)="speech('Prestamo fisico')" type="radio" [formControl]="tipoPrestamo" name="inlineRadioOptions"
              value="fisico">
            <label class="form-check-label" for="fisico">Fisico</label>
          </div>
          <button *ngIf="revisar()" type="submit" class="btn btn-outline-danger" (focus)="speech('Añadir a prestamo: ' + milibro.nombre)" (click)="option()">Añadir a
            Prestamo</button>
          <div *ngIf="this.bandera" class="alert alert-danger" role="alert">
            Debes elegir una modalidad
          </div>
        </div>
      </div>
    </div>
