<div class="container">
    <div class="card-columns animated fadeIn">

      <div class="card " *ngFor="let item of this.items">
        <img (click)="speech(item.nombre)" src="{{item.img}}" class="card-img-top  img-fluid" alt="...">
        <div (click)="speech(item.nombre)" class="card-body">
          <h5 class="card-title">{{item.nombre}}</h5>
          <p class="card-text"><small class="text-muted">{{item.autor}}</small></p>
          <a (focus)="speech('Ver mas ' + item.nombre)" [routerLink]="['/Libro', item.$key]" class="btn btn-outline-info btn-block">Ver mas</a>
        </div>
      </div>
    </div>
  </div>
