

<div class="container">
    <div *ngIf="userData" class="row mt-4 text-center">
      <div class="col">
        <h1>Cuenta</h1>
        <h2>Usuario: {{userData.usuario}}</h2>
        <h2>Email: {{userData.email}}</h2>
        <h2>Cargos: ${{userData.cargos | number :'1.2-2'}} MXN <i class="fas fa-coins"></i></h2>
      </div>
     
    </div>
    <div class="row mt-4   contenedor-tabla">
      <h1>Prestamos</h1>

        <table *ngIf="allowed" class=" table-responsive">

            <thead>
                <tr>
                    <th (click)='speech("Titulo")'>Titulo</th>
                    <th (click)='speech("Autor")'>Autor</th>
                    <th (click)='speech("Portada")'>Portada</th>
                    <th (click)='speech("Sinopsis")'>Sinopsis</th>
                    <th (click)='speech("Tipo de prestamo")'>Fisico/Electronico</th>
                    <th (click)='speech("Fecha de prestamo")'>Fecha prestamo</th>
                    <th (click)='speech("Fecha de entrega")'>Fecha entrega</th>
                    <th (click)='speech("Estado")'>Estado</th>
           
                </tr>
            </thead>
            <tbody *ngIf="allowed">
              <tr *ngFor="let item of prestamos; let i = index">
                  <td (click)='speech(libros[i].nombre)' *ngIf="allowed">{{libros[i].nombre}}</td>
                  <td (click)='speech(libros[i].autor)' *ngIf="allowed">{{libros[i].autor}}</td>
                  <td *ngIf="allowed"><img [src]="libros[i].img" class="portada img-fluid"alt=""></td>
                  <td (click)='speech(libros[i].sinopsis)' *ngIf="allowed">{{libros[i].sinopsis}}</td>
                  <td (click)='speech(item.modalidad)'>{{item.modalidad}}</td>
                  <td (click)='speech(item.fechaInicio.toDateString())'>{{item.fechaInicio | date}}</td>
                  <td (click)='speech(item.fechaEntrega.toDateString())'>{{item.fechaEntrega | date}}</td>
                  <td *ngIf="(today <= item.fechaEntrega); else atrasado"><a *ngIf="item.renovable; else norenovable" routerLink="/Usuario" class="btn btn-outline-success" (click)="renovar(item);">Renovar</a><ng-template #norenovable><td><button class="btn btn-outline-warning">Ya fue renovado</button></td></ng-template></td>
                  <ng-template #atrasado><td><button class="btn btn-outline-danger">Atrasado</button></td></ng-template>
              </tr>
            </tbody>
        </table>
    </div>
  </div>