

<div class="container">
    <div class="row mt-4 text-center">
      <div class="col">
        <h1>Cuenta</h1>
        <h2>Usuario: </h2>
        <h2>Email: </h2>
        <h2>Cargos: </h2>
      </div>
     
    </div>
    <div class="row mt-4 table-responsive  contenedor-tabla">
      <h1>Prestamos</h1>
        <table class="tabla">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Portada</th>
                    <th>Sinopsis</th>
                    <th>Fisico/Electronico</th>
                    <th>Fecha prestamo</th>
                    <th>Fecha entrega</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
              <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Renovar</td>
                
              </tr>
        </table>
    </div>
  </div>