

<div class="container">
    <div *ngIf="userData" class="row mt-4 text-center">
      <div class="col">
        <h1>Cuenta</h1>
        <h2>Usuario: {{userData.usuario}}</h2>
        <h2>Email: {{userData.email}}</h2>
        <h2>Cargos: {{userData.cargos}}</h2>
      </div>
     
    </div>
    <div class="row mt-4 table-responsive  contenedor-tabla">
      <h1>Prestamos</h1>
        <table *ngIf="prestamos && libros" class="tabla">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Portada</th>
                    <th>Sinopsis</th>
                    <th>Fisico/Electronico</th>
                    <th>Fecha prestamo</th>
                    <th>Fecha entrega</th>
                    <th>Estado</th>
           
                </tr>
            </thead>
              <tr *ngFor="let item of prestamos; let i = index">
                  <td>{{libros[i].nombre}}</td>
                  <td>{{libros[i].autor}}</td>
                  <td><img [src]="libros[i].img" class="portada img-fluid"alt=""></td>
                  <td>{{libros[i].sinopsis}}</td>
                  <td>{{item.modalidad}}</td>
                  <td>{{item.fechaInicio | date}}</td>
                  <td>{{item.fechaEntrega | date}}</td>
                  <td>{{(today < item.fechaEntrega)}}</td>
         
                
              </tr>
        </table>
    </div>
  </div>