<div *ngIf="userData.usuario != 'Admin'" class="row mt-4">
  <div *ngIf="allowed && (prestamos.length > 0);" class="row mt-4 table-responsive  contenedor-tabla">
    <!--este div tiene el ngfor de estado-->
    <h2>Usuario:{{userData.usuario}}</h2>
    <h3>Cargos: ${{userData.cargos | number :'1.2-2'}} MXN <i class="fas fa-coins"></i></h3>
    <table class="tabla">
      <thead>
        <tr>

          <th>Titulo</th>
          <th>Autor</th>
          <th>Portada</th>
          <th>Fecha de prestamo</th>
          <th>Fecha de entrega</th>
          <th>Tipo</th>
          <th>Estado</th>

        </tr>
      </thead>
      <!--Aqui ngfor de  prestamos-->
      <tbody *ngIf="allowed">
        <tr *ngFor="let item of prestamos; let i = index">
          <td>{{libros[i].nombre}}</td>
          <td>{{libros[i].autor}}</td>
          <td><img [src]="libros[i].img" class="portada img-fluid"alt=""></td>
          <td>{{item.fechaInicio | date}}</td>
          <td>{{item.fechaEntrega | date}}</td>
          <td>{{item.modalidad}}</td>
          <td><button (click)="eliminar(item, libros[i]);" mat-stroked-button color="warn"><i class="fas fa-times-circle"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>