<div *ngIf="userData.usuario != 'Admin'" class="col mt-5">
  <h2> Usuario: {{userData.usuario}} 
    <h3>Cargos:</h3>
  </h2>
 
  <div class="col mt-4 table-responsive  contenedor-tabla">
    
    <table class="tabla">
      <thead>
        <tr>

          <th>Titulo</th>
          <th>Autor</th>
          <th>Portada</th>
          <th>Fecha de prestamo</th>
          <th>Fecha de entrega</th>
          <th>Tipo</th>
          <th>Estado</th>

        </tr>
      </thead>
      <!--Aqui ngfor de  prestamos-->
      <tbody *ngIf="allowed">
        <tr *ngFor="let item of prestamos; let i = index">
          <td>{{libros[i].nombre}}</td>
          <td>{{libros[i].autor}}</td>
          <td><img [src]="libros[i].img" class="portada img-fluid"alt=""></td>
          <td>{{item.fechaInicio | date}}</td>
          <td>{{item.fechaEntrega | date}}</td>
          <td>{{item.modalidad}}</td>
          <td><button mat-stroked-button color="warn"><i class="fas fa-times-circle"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>