<div class="row mt-4">
    <h1>Prestamos por usuario</h1>
    <div  class="row mt-4 table-responsive  contenedor-tabla" >  
         <!--este div tiene el ngfor de estado-->
        <h2>Usuario: </h2>
        <h3>Cargos:</h3>
        <table class="tabla">
        <thead>
            <tr>
                
                <th>Titulo</th>
                <th>Autor</th>
                <th>Portada</th>
                <th>Fecha de prestamo</th>
                <th>Fecha de entrega</th>
                <th>Tipo</th>
                <th>Estado</th>
             
            </tr>
        </thead>
        <!--Aqui ngfor de  prestamos-->
          <tr >
            <td></td>
            <td></td>
            <td><img src=""  class="portada img-fluid" alt=""></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button mat-stroked-button color="warn"><i class="fas fa-times-circle"></i></button></td>
          </tr>
      
    </table></div>
  </div>