footer{
    font-family: 'Bellota', cursive;
    background: tomato;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: space-around; 
    padding: 20px;
    margin-top: 30px;
  }
  .section-top{
 
   display: flex; 
 
   padding: 20px 0;
   }
  .section-bottom{
   
    text-align: center;
    padding: 15px 0;
  }
  .col{
    margin: 0 15px;
    width: 25% ;
  }
  @media all and (max-width: 600px){ 
  .section-top{
      flex-direction: column;
  }    
  .col{
    text-align: center;
    width: 100%;
    margin: 0
  }
}