
<footer>
    <section class="section-top">
      <div class="col">
        <h3>Redes</h3>
        <div><i class="fab fa-twitter-square"></i>Libros Fantasticos</div>
        <div><i class="fab fa-facebook"></i>Libros Fantasticos</div>
        <div><i class="fab fa-instagram"></i> Libros Fantasticos</div>
      </div>
      <div class="col">
        <h3>Generos</h3>
        <div>Clásicos</div>
        <div>Terror</div>
        <div>Ciencia Ficción</div>
        <div>Aventura</div>
        <div>Young Adult</div>
      </div>
   
    </section>
    <section class="section-bottom">
    
      <div><small>@Libros_Fantasticos</small></div>
    </section>
    </footer>