
  h2,h1{
    font-family: 'Bellota', cursive;
    text-align: center;
    background: #23b4d8da;
    border-radius: 20px;
  }

#logo{
    width:100%;
    max-width:400px;
}
#cabecera{
    background-image: url('../../../assets/img/portada.jpg');
    text-align: center;

}
.mat-card-footer{
  padding:  20px;
}