<div  >
    <mat-card id="cabecera" layout-align="center center">
        <mat-card-header style="text-align: center;">
            <mat-card-title>
                <h1> <b>¡Bienvenidos!</b> </h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
           <img id="logo"[src]="logo" alt=""> <h2>Libros fantásticos... Y donde encontrarlos</h2>
        </mat-card-content>
    </mat-card>

   
                
                    
       
<div class="container">
    <h2>¡Novedades!</h2>
   <app-ficha-libro  [items]="libroRand"></app-ficha-libro>
  </div>